@{
    ViewBag.Title = "About US";
    ViewBag.activeabout= "active";

}
@{ Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="super_container">

    <!-- Header -->
    <!-- About US Body -->
    @Html.Partial("BlackSection");

    <div class="aboutus-he75">
        <div class="container">
            <div class="overlay">
                <div class="title">
                    <h2 class="wow bounceInLeft">about us</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                        <div class="about-info">
                            <div class="logo_container wow bounceIn">
                                <a href="~/Home/index">
                                    <span class="the">the </span>
                                    <div class="logo_text">Big Store<span></span></div>
                                    <p class="somtitle">The best supermarket</p>
                                </a>
                            </div>
                            <p class="promtitle wown fadeInUp">welcom in big store web site Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non null</p>
                            <ul>
                                <li class="wow bounceInLeft">
                                    <span>1</span>
                                    <p>mon-fri:4-6px, city cyclery 553, windson</p>
                                </li>
                                <li class="wow bounceInLeft delay-500">
                                    <span>2</span>
                                    <p>sat-sun:8am-1px, downtown windson market</p>
                                </li>
                                <li class="wow bounceInLeft ">
                                    <span>3</span>
                                    <p>mon-fri:4-6px, city cyclery 553, windson</p>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="about-image wow zoomInRight">
                            <img src="~/Content/images/about-right.png">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>





    <div class="featchers">
        <div class="container">

            <div class="feattitle">
                <h4 class="tiltt wow bounceInLeft"> OUR <span> FEATURES </span> </h4>
            </div>
            <div class="featcontent">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="details wow bounceInUp">
                            <a class="icon" href="#">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <div class="icon-box-details">
                                <h4 class="icon-box-title">Easy shipping</h4>
                                <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non null</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="details wow bounceInUp delay-100">
                            <a class="icon" href="#">
                                <i class="fa fa-android"></i>
                            </a>
                            <div class="icon-box-details">
                                <h4 class="icon-box-title">Android</h4>
                                <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non null</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="details wow bounceInUp delay-200">
                            <a class="icon" href="#">
                                <i class="fa fa-apple"></i>
                            </a>
                            <div class="icon-box-details">
                                <h4 class="icon-box-title">ios</h4>
                                <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non null</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="details wow bounceInUp">
                            <a class="icon" href="#">
                                <i class="fa fa-windows"></i>
                            </a>
                            <div class="icon-box-details">
                                <h4 class="icon-box-title">windows</h4>
                                <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non null</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="details wow bounceInUp delay-100">
                            <a class="icon" href="#">
                                <i class="fa fa-mobile"></i>
                            </a>
                            <div class="icon-box-details">
                                <h4 class="icon-box-title">responsive</h4>
                                <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non null</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="details wow bounceInUp delay-200">
                            <a class="icon" href="#">
                                <i class="fa fa-map-marker"></i>
                            </a>
                            <div class="icon-box-details">
                                <h4 class="icon-box-title">locations</h4>
                                <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non null</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="stats jarallax">
        <div class="darckback">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="item-content wow bounceInUp delay">
                            <div class="icon">
                                <img src="~/Content/images/smile.png">
                            </div>
                            <p class="counter">1,965</p>
                            <h3>HAPPY client</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="item-content wow bounceInUp delay-100">
                            <div class="icon">
                                <img src="~/Content/images/script.png">
                            </div>
                            <p class="counter">432</p>
                            <h3>OUR sales</h3>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="item-content wow bounceInUp delay-200">
                            <div class="icon">
                                <img src="~/Content/images/like.png">
                            </div>
                            <p class="counter">690</p>
                            <h3>Like</h3>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="item-content wow bounceInUp delay-300">
                            <div class="icon">
                                <img src="~/Content/images/medal.png">
                            </div>
                            <p class="counter">124</p>
                            <h3>Certifications</h3>
                        </div>

                    </div>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>


    <div class="apps_dawenload" style="padding-bottom: 65px !important">
        <div class="container">
            <h3 class="title wow bounceInUp ">Download The <span>Application</span></h3>

            <p class="text-center  wow fadeInUp">Big Store</p>
            <ul class="list-unstyled apps-lists text-center">
                <li class=" wow bounceInLeft">
                    <a href="#"><i class="fa fa-apple wow bounceInLeft"></i>App Store</a>
                </li>
                <li class="otherli wow tada">
                    <div class="logo_container">
                        <a href="#">
                            <span class="the">the </span>
                            <div class="logo_text">Big Store<span></span></div>
                            <p class="somtitle">The best supermarket</p>
                        </a>
                    </div>
                </li>
                <li class=" wow bounceInRight">
                    <a href="#"><i class="fa fa-android"></i>Android</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="bg-li">
        <div class="imge-top">
            <img src="~/Content/images/DropLinkshort.png">
        </div>
        <div class="container py-xl-5 py-lg-3">
            <!-- subscribe -->
            <div class="subscribe mx-auto">
                <div class="icon-effect-w3 wow bounceInUp ">
                    <span class="fa fa-envelope"></span>
                </div>
                <h2 class="tittle text-center font-weight-bold wow bounceInUp">Stay Updated!</h2>
                <p class="sub-tittle text-center mt-3 mb-sm-5 mb-4 wow fadeInUp">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                <form action="#" method="post" class="subscribe-wthree pt-2  wow bounceInUp">
                    <div class="d-flex subscribe-wthree-field">
                        <input class="form-control" type="email" placeholder="Enter your email..." name="email" required="">
                        <button class="btn form-control w-50" type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
            <!-- //subscribe -->
        </div>
    </div>
    <div class="sochialicon">
        <div class="container">
            <div class="contenetete">
                <a href="#" class="facebook wow bounceInUp">
                    <i class="fa fa-facebook-f"></i>
                </a>
                <a href="#" class="google wow bounceInUp delay-100">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="#" class="twiter wow bounceInUp delay-200">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="linkedin wow bounceInUp delay-300">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="#" class="insta wow bounceInUp delay-400">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="brandes-he75">
        <div class="container">
            <div class="owl-carousel owl-theme wow wobble delay-500">
                <div class="item">
                    <div class="images">
                        <img src="~/Content/images/brand_7%20(1).png">
                    </div>
                </div>
                <div class="item">
                    <div class="images">
                        <img src="~/Content/images/brand_7%20(2).png">
                    </div>
                </div>
                <div class="item">
                    <div class="images">
                        <img src="~/Content/images/brand_7%20(3).png">
                    </div>
                </div>
                <div class="item">
                    <div class="images">
                        <img src="~/Content/images/brand_7%20(4).png">
                    </div>
                </div>
                <div class="item">
                    <div class="images">
                        <img src="~/Content/images/brand_7%20(5).png">
                    </div>
                </div>
                <div class="item">
                    <div class="images">
                        <img src="~/Content/images/brand_7%20(6).png">
                    </div>
                </div>
                <div class="item">
                    <div class="images">
                        <img src="~/Content/images/brand_7%20(7).png">
                    </div>
                </div>
                <div class="item">
                    <div class="images">
                        <img src="~/Content/images/brand_7%20(8).png">
                    </div>
                </div>

            </div>

        </div>

    </div>
    @Html.Partial("Services")

</div>