<div class="cart">
    <div class="overlay">
        <h2 class="wow tada">@ViewBag.Title</h2>
        <ul class="wow slideInUp">
            <li>
                <a href="~/Home/index" class="">Home</a>
            </li>
            <li>
                <p>/</p>
            </li>
            <li>
                <a class="activelink">@ViewBag.Title</a>
            </li>
            <li>
                <p>/</p>
            </li>
        </ul>
    </div>
</div>
