@{
    ViewBag.Title = "Profile Favorite";
}
@{ Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="super_container">
    @Html.Partial("BlackSection");

    <!-- Header -->


    <div class="profile-he75">
        <div class="container-two">
            <div class="profile-content">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                        
                    
                    </div>

                    <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
                        <div class="otherside">
                            <div class="title-link wow fadeIn">
                                <h1 class="wow bounceInLeft delay-300"> your favourite</h1>
                                <span class="wow bounceInRight delay-300"> <i class="fa fa-heart"></i> favourite list</span>
                            </div>

                            <div class="otersidecontent">
                                <div class="purchases faveicon">
                                    <div class="row otherrow">

                                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 othercol">
                                            <div class="pro-cont wow bounceInUp delay-100">
                                                <div class="imagess">
                                                    <img src="~/Content/images/p12.jpg">
                                                </div>
                                                <div class="heartfav">
                                                    <span class="icon-fav"><i class="fa fa-heart"></i></span>
                                                </div>
                                                <div class="shop-favicon">
                                                    <ul>
                                                        <li class="">
                                                            <span class="icon-cart"><i class="fa fa-shopping-cart"></i></span>
                                                        </li>

                                                    </ul>


                                                </div>
                                                <div class="conproit">
                                                    <a href="~/Home/productdetails"> organic green bell pepper</a>
                                                    <div class="rstestare">
                                                        <ul>
                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="price">

                                                        <span class="old-price"> <i class="fa fa-gbp" aria-hidden="true"></i>700</span>
                                                        <span class="new-price"> <i class="fa fa-gbp" aria-hidden="true"></i>500</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 othercol">
                                            <div class="pro-cont wow bounceInUp delay-200">
                                                <div class="imagess">
                                                    <img src="~/Content/images/p11.jpg">
                                                </div>
                                                <div class="heartfav">
                                                    <span class="icon-fav"><i class="fa fa-heart"></i></span>
                                                </div>
                                                <div class="shop-favicon">
                                                    <ul>
                                                        <li class="">
                                                            <span class="icon-cart"><i class="fa fa-shopping-cart"></i></span>
                                                        </li>

                                                    </ul>


                                                </div>
                                                <div class="conproit">
                                                    <a href="~/Home/productdetails"> organic green bell pepper</a>
                                                    <div class="rstestare">
                                                        <ul>
                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="price">

                                                        <span class="old-price"> <i class="fa fa-gbp" aria-hidden="true"></i>700</span>
                                                        <span class="new-price"> <i class="fa fa-gbp" aria-hidden="true"></i>500</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 othercol">
                                            <div class="pro-cont wow bounceInUp delay-300">
                                                <div class="imagess">
                                                    <img src="~/Content/images/p16-600x600.jpg">
                                                </div>
                                                <div class="heartfav">
                                                    <span class="icon-fav"><i class="fa fa-heart"></i></span>
                                                </div>
                                                <div class="shop-favicon">
                                                    <ul>
                                                        <li class="">
                                                            <span class="icon-cart"><i class="fa fa-shopping-cart"></i></span>
                                                        </li>

                                                    </ul>


                                                </div>
                                                <div class="conproit">
                                                    <a href="~/Home/productdetails"> organic green bell pepper</a>
                                                    <div class="rstestare">
                                                        <ul>
                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="price">

                                                        <span class="old-price"> <i class="fa fa-gbp" aria-hidden="true"></i>700</span>
                                                        <span class="new-price"> <i class="fa fa-gbp" aria-hidden="true"></i>500</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 othercol">
                                            <div class="pro-cont wow bounceInUp">
                                                <div class="imagess">
                                                    <img src="~/Content/images/p9.jpg">
                                                </div>
                                                <div class="heartfav">
                                                    <span class="icon-fav"><i class="fa fa-heart"></i></span>
                                                </div>
                                                <div class="shop-favicon">
                                                    <ul>
                                                        <li>
                                                            <span class="icon-cart"><i class="fa fa-shopping-cart"></i></span>
                                                        </li>

                                                    </ul>


                                                </div>
                                                <div class="conproit">
                                                    <a href="~/Home/productdetails"> organic green bell pepper</a>
                                                    <div class="rstestare">
                                                        <ul>
                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="price">

                                                        <span class="old-price"> <i class="fa fa-gbp" aria-hidden="true"></i>700</span>
                                                        <span class="new-price"> <i class="fa fa-gbp" aria-hidden="true"></i>500</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="next-page-he75 wow bounceInUp">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#" class="active">2</a></li>
                                            <li><a href="#">3</a></li>

                                            <li><span>....</span></li>
                                            <li><a href="#">20</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
